#content {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: #FF462A;
  position:absolute;
  left: 20vw;
  top: 13vh;
  min-height: 80vh;
  padding: 1vw;
}
#header{
  background-color: #C3F5BC;
  min-width: 60vw;
  position:absolute;
  left: 20vw;
  top: 2vh;
  height: 10vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
#logo{
  height:10vh;
}
@media(max-width: 1500px) {
  #content {
    width: 95vw;
    left: 1vw;
    font-size: 1.5rem;
  }
  #header {
    width: 95vw;
    left: 1vw;
    font-size: 1.5rem;
  }
  input{
    font-size: 1.2rem;
  }
  textarea{
    font-size: 1em;
  }
  button{
    margin-top: 0.2em;
    padding: 0.4em;
    font-size: 1em;
  }
  select{
    font-size: 0.7em;
  }
  input{
    height: 1em;
    width: 1em;
  }
}
body{
  align-items: center;
  background-color: #F4F1E5;
}
textarea{ 
  width: 98%;
  height: 98vh;
}
form{
  width: 100%
}
.formInput {
  width: 99%
}
select{
  width: 20%
}
#divGroup{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 2px;
  margin: 2px;
}
.copyButton{
  width: 33%
}
#fedbackTextarea{
  height:30vh;
}

#innerContent{
  background-color: #ebe3c7;
  padding: 5px;
  margin-top: 10px;
}
#innerContent button{
  width: 100%
}

#menu {
    display: table; 
    width: 100%;
    padding: 0%;
    margin: 0%;
    table-layout: fixed;
}

#menu li {
    display: table-cell;
}

#menu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; 
    background-color: #F4F1E5;
}

#menu li a:hover {
    background-color: #D4D1C5;
}

#howManyEmails {
  width:100%
}